{{- $noticeType := .Get 0 -}}
{{- $replaced := .Get 0 -}}
{{- $type := .Get 1 -}}
{{- $replaced := replace $replaced "info" "info" -}}
{{- $replaced := replace $replaced "warning" "important" -}}
{{- $replaced := replace $replaced "danger" "warning" -}}
{{- $replaced := replace $replaced "example" "example" -}}
{{- $replaced := replace $replaced "tip" "tip" -}}
{{- $replaced := replace $replaced "good" "tip" -}} <!-- backwards comapt -->

{{ if ne $type "noTitle" }}
  <blockquote class="book-hint2 {{ $noticeType }}">
    <p class="hint-title {{ $noticeType }}">
      <svg class="book-icon">
        <use href="/svg/hint-icons.svg#{{- $replaced -}}-notice"></use>
      </svg><span>{{ $replaced }}</span></p>
    {{ .Inner | markdownify }}
  </blockquote>
{{ else }}
  <blockquote class="book-hint {{ .Get 0 }}">
    {{ .Inner | markdownify }}
  </blockquote>
{{ end }}
